@page "/hosts/create-host"
@inject NavigationManager NavigationManager
@inherits OwningComponentBase
<h1>Create Host</h1>
<hr/>
<div class="row">
    <div class="col-lg-6">
        <EditForm Model="@HostModel" OnValidSubmit="SubmitForm">
            <FluentValidationValidator />
            <ValidationSummary/>
            <div class="mb-3">
                <label for="@HostModel.FirstName">First name</label>
                <InputText @bind-Value="HostModel.FirstName" class="form-control"/>
                <ValidationMessage For="@(() => HostModel.FirstName)"/>
            </div>
            <div class="mb-3">
                <label for="@HostModel.LastName">Last name</label>
                <InputText @bind-Value="HostModel.LastName" class="form-control"/>
                <ValidationMessage For="@(() => HostModel.LastName)"/>
            </div>
          <div class="mb-3 row">
                <div class="col-lg-3">
                    <label for="@HostModel.DateOfBirth">Date of birth</label>
                    <SfDatePicker TValue="DateTime?" StrictMode=true Placeholder='Please enter a date' @bind-Value="@HostModel.DateOfBirth" Format="dd/MM/yyyy"></SfDatePicker>
                    <ValidationMessage For="@(() => HostModel.DateOfBirth)"/>
                </div>
            </div>
            <div class="mb-3">
                <label for="@HostModel.BuildingNameNumber">Building name/number</label>
                <InputText @bind-Value="HostModel.BuildingNameNumber" class="form-control"/>
                <ValidationMessage For="@(() => HostModel.BuildingNameNumber)"/>
            </div>
            <div class="mb-3">
                <label for="@HostModel.Street">Street</label>
                <InputText @bind-Value="HostModel.Street" class="form-control"/>
                <ValidationMessage For="@(() => HostModel.Street)"/>
            </div>
            <div class="mb-3">
                <label for="@HostModel.Town">Town</label>
                <InputText @bind-Value="HostModel.Town" class="form-control"/>
                <ValidationMessage For="@(() => HostModel.Town)"/>
            </div>
            <div class="mb-3">
                <label for="@HostModel.County">County</label>
                <InputText @bind-Value="HostModel.County" class="form-control"/>
                <ValidationMessage For="@(() => HostModel.County)"/>
            </div>
            <div class="mb-3">
                <label for="@HostModel.Postcode">Postcode</label>
                <InputText @bind-Value="HostModel.Postcode" class="form-control"/>
                <ValidationMessage For="@(() => HostModel.Postcode)"/>
            </div>
            <div class="mb-3">
                <label for="@HostModel.InitialHomeVisit">Initial home visit</label>
                <InputTextArea @bind-Value="@HostModel.InitialHomeVisit" rows="5" class="form-control"></InputTextArea>
                <ValidationMessage For="@(() => HostModel.InitialHomeVisit)"/>
            </div>
            <div class="mb-3">
                <SfCheckBox @bind-Checked="HostModel.ProformaInvoiceGivenToHost" Label="Proforma invoice given to host" CssClass="e-success"></SfCheckBox><br/>
                <ValidationMessage For="@(() => HostModel.ProformaInvoiceGivenToHost)"/>
            </div>
            <div class="mb-3">
                <SfCheckBox @bind-Checked="HostModel.BankDetailsConfirmed" Label="Bank details confirmed" CssClass="e-success"></SfCheckBox><br/>
                <ValidationMessage For="@(() => HostModel.BankDetailsConfirmed)"/>
            </div>
            <div class="mb-3">
                <SfCheckBox @bind-Checked="HostModel.ProformaSignedByCaiw" Label="Proforma signed by CAIW" CssClass="e-success"></SfCheckBox><br/>
                <ValidationMessage For="@(() => HostModel.ProformaSignedByCaiw)"/>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary"/>
                <a href="/hosts/index" class="btn btn-secondary ml-2">Back to host list</a>
            </div>
        </EditForm>
    </div>
</div>

@code {

    private HostRecord HostModel { get; set; } = new();
    private bool Busy { get; set; }
    private HostRepository? _hostRepository;
    
    protected override void OnInitialized()
    {
        HostModel.DateCreated = DateTime.Now;
        HostModel.CreatedBy = "System";
    }

    private async Task SubmitForm()
    {
        _hostRepository = ScopedServices.GetRequiredService<HostRepository>();
        if (Busy) return;
        Busy = true;
        await _hostRepository.AddHost(HostModel);
        Busy = false;
        NavigationManager.NavigateTo("/hosts/index");
    }
}